body {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
h1{
    width: 100%;
    background-color: lightgrey;
    padding-bottom: 1%;
    padding-top: 1%;
}
::placeholder{
    text-align: center;
}
.inputLocation{
    justify-content: center;
    margin-bottom: 1%;
    border: solid;
    width: 20%;
    height: 30px;
    border-radius: 25px;
    background-color: aquamarine;
}
.labelLocation{
    width: 100%;
}
.locationSearchBtn{
    border-radius: 25px;
    margin-bottom: 2%;
    width: 100px;
}
.weatherContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}
.weatherToday {
    width: 100%;
}
.weatherForecast {
    width: 100%;
}
.tomorrowDiv, .dayThreeDiv, .dayFourDiv, .dayFiveDiv, .daySixDiv, .DaySevenDiv {
    width: 100%;

}